/* custom fonts here, i.e.
@font-face {
  font-family: "Resistance Regular";
  src: url("fonts/Resistance/Resistance-Regular.otf");
  src: url("fonts/Resistance/Resistance-Regular.otf") format("embedded-opentype"),
  url("fonts/Resistance/Resistance-Regular.eot") format("embedded-opentype"),
  url("fonts/Resistance/Resistance-Regular.ttf") format("truetype"),
  url("fonts/Resistance/Resistance-Regular.woff") format("woff"),
  url("fonts/Resistance/Resistance-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
*/
